.mainContainer {
  font-family: "Inconsolata", monospace;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr 3fr 1fr;
  justify-items: center;
}
.headerSection {
  background: url("/public/pexels-stephan-seeber-1054218.jpg") no-repeat center /
    cover;
  height: 200px;
}
.searchSection {
  background-color: #0e090e;
  height: 150px;
}
body {
  background-color: #252420;
  color: aliceblue;
}
